<footer>
    <p>Ett universitet någonstans i Sverige.</p>
    <p class="right">
        <a href="#" class="fa-brands fa-facebook fa-lg"></a>
        <a href="#" class="fa-brands fa-bluesky fa-lg"></a>
        <a href="#" class="fa-brands fa-instagram fa-lg"></a>
        <a href="#" class="fa-brands fa-snapchat fa-lg"></a>
        <a href="#" class="fa-brands fa-tiktok fa-lg"></a>
        <a href="#" class="fa-brands fa-linkedin fa-lg"></a>
        <a href="#" class="fa-brands fa-github fa-lg"></a>
        <a href="#" class="fa-brands fa-discord fa-lg"></a>
    </p>
</footer>